*{
    margin: 0;
    padding: 0;
    font-family: Century Gothinc;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../sp1.jpg);
    height: 150vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline;
}
ul li a{
    text-decoration:none;
    color:#fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: white;
    color: black;
}
ul li.active a{
    background-color: white;
    color: black;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.botton{
    position: absolute;
    top: 96%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: white;
    color: black;

}
.copyright{
    position: static;
    text-align: center;
    text-emphasis-color: white;
    background-color: black;
}
.visitor{
    margin-bottom: 30px;
    color: white;
}
.development{
    position: absolute;
    top: 35%;
    left: 80%;
    color: red;
    transform: translate(-50%,-50%);
}
.links{
    position: absolute;
    /* background-color:aliceblue; */
    top: 50%;
    left: 76%;
    background-color: #fff;
    text-decoration: #fff;
    transform: translate(-50%,-50%);
    font-family: 'Times New Roman', Times, serif;
    
}

  
