*{
    margin: 0;
    padding: 0;
    font-family: Century Gothinc;
}
html{
    font-size: 62.5%;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../sp1.jpg);
    height: 150vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 2.5rem;
    font-size: 2.1rem;
}
ul li{
    display: inline;
}
ul li a{
    text-decoration:none;
    font-size: 1.rem;
    color:#fff;
    padding: 0.5rem 1.4rem;
    border: 0.1rem solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: white;
    color: black;
}
ul li.active a{
    background-color: white;
    color: black;
}
.main{
    max-width: 120rem;
    margin: auto;
}
.botton{
    position: absolute;
    box-sizing:content-box;
    font-size: 1.4rem;
    top: 96%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 0.1rem solid white;
    padding: 1rem 30px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: white;
    color: black;

}
.copyright{
    position: static;
    text-align: center;
    text-emphasis-color: white;
    background-color: white;
    font-size: 3.5rem;
}
.visitor{
    margin-bottom: 3.rem;
    color: white;
    font-size: 2rem;
}
.development{
    position: absolute;
    font-size: 1.5rem;
    top: 35%;
    left: 80%;
    color: red;
    transform: translate(-50%,-50%);
}
.links{
    position: absolute;
    /* background-color:aliceblue; */
    top: 50%;
    left: 76%;
    background-color: #fff;
    text-decoration: #fff;
    font-size: 1.8rem;
    transform: translate(-50%,-50%);
    font-family: 'Times New Roman', Times, serif;
    
}
@media(max-width: 998px) {
    html{
        font-size: 55%;
    }   
}
@media(max-width: 768px){
    html{
        font-size: 45%;
    }
}

  
